/* Write your CSS here */
.list {
  list-style-type: none;
  margin: 15px;
}
.title {
  font-size: 15px;
  font-family: 'Open Sans';
  text-align: center;
  font-weight: 500;
}
.img1 {
  height: 150px;
  width: 200px;
}
